<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882743682611-gum89nssolj0c4kl2hn1b67qq3v3g3sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882743682611-gum89nssolj0c4kl2hn1b67qq3v3g3sd</string>
	<key>API_KEY</key>
	<string>AIzaSyAvR87bYAUi-sQYAPHMFgEJmHihHInCL78</string>
	<key>GCM_SENDER_ID</key>
	<string>882743682611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-25bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-25bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882743682611:ios:a8317081c942b535b92546</string>
</dict>
</plist>